$txt-menu-color: #6F7588;
$txt-menu-color-active : #5A3BDD;
$txt-menu-color-active-back : #E9EAFF;
$back-notif: #F4F6F9;
$txt-menu-notif: #16194C;

$background-color : #AE9EAFF;
$gray : #F4F4F9;
$gray-darker : #6F7088;
$button-color : #5A3BDD;
$blue-main : #14185E;
$blue-main-title: #16194C;
$blue-title : #251963;

$symbolic-color-green : #26C95A ;
$symbolic-color-orange : #FA6900 ;
$symbolic-color-red : #FF1D41 ;

$chart-color-purple: #A41ACA ;
$chart-color-purple-light: #D600B0 ;
$chart-color-magenta: #F80092 ;
$chart-color-magenta-light: #FF0074 ;
$chart-color-salmon: #FF3A57 ;
$chart-color-orange: #FF643C ;
$chart-color-orange-light: #FF8721 ;
$chart-color-yellow: #FFA600;

$light-blue: #E9EAFF;
