<div class="main-panel"><h2>{{tl.translate('ST.ADMIN.TITLE.BACK_OFFICE_ACTORS')}}</h2>

<!--<mat-radio-group aria-label="Select an actor" [(ngModel)]="comboActor">-->
<!--  <mat-radio-button value="nadi" (change)="switchType($event)">Foundation actor</mat-radio-button>-->
<!--  <mat-radio-button value="new" (change)="switchType($event)">Independant actor</mat-radio-button>-->
<!--</mat-radio-group>-->
<div *ngIf="comboActor == 'nadi'">
  <div *ngIf="isLoadingBack$ | async" class="spinner-wrapper">
    <mat-progress-spinner
      mode="indeterminate">
    </mat-progress-spinner>
  </div>
  <div class="table-wrapper" *ngIf="!(isLoadingBack$ | async)">
    <mat-table [dataSource]="foundations | async">
      <ng-container matColumnDef="actor">
        <mat-header-cell *matHeaderCellDef> {{tl.translate('ST.WORD.ACTOR')}} </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.actor}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="corporateName">
        <mat-header-cell *matHeaderCellDef> {{tl.translate('ST.WORD.CORPORATENAME')}} </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.corporateName}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef> {{tl.translate('ST.WORD.DESCRIPTION')}} </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.description}} </mat-cell>
      </ng-container>
      <!-- Title Definition -->
      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef> </mat-header-cell>
        <mat-cell *matCellDef="let row" class="alternate-theme">
          <button type="submit" class="actionBtn btn-primary-color" mat-raised-button color="primary" [disabled]="actorIsCreated(row.actor, row.corporateName)" [matTooltip]="actorIsCreated(row.actor, row.corporateName) ? 'Actor already created' : 'Create new actor from fondation actor ' + row.id" (click)="clickAddFoundationActor(row.id)">{{tl.translate('ST.BUTTON.CREATE')}} </button>
        </mat-cell>
      </ng-container>

      <!-- Header and Row Declarations -->
      <mat-header-row *matHeaderRowDef="['actor', 'corporateName', 'description', 'action']"></mat-header-row>
      <mat-row *matRowDef="let row; columns: ['actor', 'corporateName', 'description', 'action']"></mat-row>
    </mat-table>
    <mat-paginator #paginator class="paginator" [pageSizeOptions]="[5, 10, 20, 50]"></mat-paginator>
  </div>
  </div>
</div>
<div class="main-panel">
  <h2>{{tl.translate('ST.ADMIN.TITLE.STREETS_ACTORS')}}</h2>
    <div *ngIf="isLoadingBack$ | async" class="spinner-wrapper">
      <mat-progress-spinner
        mode="indeterminate">
      </mat-progress-spinner>
    </div>
    <div class="table-wrapper" *ngIf="!(isLoadingBack$ | async)">
      <mat-table [dataSource]="actors | async">
        <ng-container matColumnDef="enabled">
          <mat-header-cell *matHeaderCellDef> {{tl.translate('ST.WORD.ENABLED')}} </mat-header-cell>
          <mat-cell *matCellDef="let row"  class="small-column">
            <mat-slide-toggle
              class="example-margin"
              [(ngModel)]="row.enabled" (click)="switchEnabled(row)">
            </mat-slide-toggle>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="actor">
          <mat-header-cell *matHeaderCellDef> {{tl.translate('ST.WORD.ACTOR')}} </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.actor}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="corporateName">
          <mat-header-cell *matHeaderCellDef> {{tl.translate('ST.WORD.CORPORATENAME')}} </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.corporateName}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="description">
          <mat-header-cell *matHeaderCellDef> {{tl.translate('ST.WORD.DESCRIPTION')}} </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.description}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef> </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <button mat-icon-button color="warn" [matTooltip]="tl.translate('ST.ADMIN.TOOLTIPS.DELETE_ACTOR')" (click)="deleteFoundationActor(row.id)" >
              <mat-icon>delete</mat-icon>
            </button>
            <button mat-icon-button  [matTooltip]="tl.translate('ST.ADMIN.TOOLTIPS.MANAGE_ACTOR_FUNCT')"  (click)="openActorFunctionalities(row.id)" >
              <mat-icon>wysiwyg</mat-icon>
            </button>
            <button mat-icon-button [matTooltip]="tl.translate('ST.ADMIN.TOOLTIPS.MANAGE_ACTORS_USERS')" (click)="openActorUser(row.id)" >
              <mat-icon>supervisor_account</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <!-- Header and Row Declarations -->
        <mat-header-row *matHeaderRowDef="['enabled', 'actor', 'corporateName', 'description', 'action']"></mat-header-row>
        <mat-row *matRowDef="let row; columns: ['enabled', 'actor', 'corporateName', 'description', 'action']"></mat-row>
      </mat-table>
      <mat-paginator #paginatorL class="paginator" [pageSizeOptions]="[5, 10, 20, 50]"></mat-paginator>
    </div>

</div>
