<h2>{{tl.translate('ST.WORD.FUNCTIONALITIES')}}</h2>
<mat-table [dataSource]="functionalities | async">
  <ng-container matColumnDef="id" >
    <mat-header-cell *matHeaderCellDef class="small-column">ID</mat-header-cell>
    <mat-cell *matCellDef="let row"  class="small-column"> {{row.id}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="action">
    <mat-header-cell *matHeaderCellDef> </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <mat-slide-toggle
        class="example-margin"
        [(ngModel)]="row.enabled" (click)="switchEnabled(row)">
        <!--                  {{row.enabled ? 'enabled' : 'disabled'}}-->
      </mat-slide-toggle>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="code">
    <mat-header-cell *matHeaderCellDef> {{tl.translate('ST.WORD.CODE')}} </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.code}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="description">
    <mat-header-cell *matHeaderCellDef> {{tl.translate('ST.WORD.DESCRIPTION')}} </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.description}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="actors">
    <mat-header-cell *matHeaderCellDef> {{tl.translate('ST.ADMIN.HEADER.GRANTED_ACTORS')}} </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <div *ngIf="row.actors">
        <ul>
          <li *ngFor="let actor of row.actors" class="actor-details">
            <span>{{actor.id}}</span>  <mat-icon>launch</mat-icon>
          </li>
        </ul>
      </div>
    </mat-cell>
  </ng-container>

  <!-- Header and Row Declarations -->
  <mat-header-row *matHeaderRowDef="['id', 'action','code', 'description', 'actors' ]"></mat-header-row>
  <mat-row *matRowDef="let row; columns: ['id', 'action', 'code', 'description', 'actors']"></mat-row>
</mat-table>
