<div class="sideMenu">
  <div *ngIf="itemsService.itemsMenus$ | async as itemsMenu ">
    <div *ngFor="let menu of itemsMenu; last as isLast  ">
<!--      <div class="title">Administration</div>-->
      <ul>
        <li *ngFor="let item of menu | keyvalue">
          <div (click)="item.value.menus && item.value.menus.length > 0 ? toggleMenu(menu,item.key): ''" [routerLink]="item.value.applicationRoute" [routerLinkActive]="item.value.applicationRoute ? 'active' : ''">
      <span class="pointer">
        <i *ngIf="item.value.menus && item.value.menus.length > 0 && !item.value.show" class="material-icons pointer">arrow_right</i>
        <i *ngIf="item.value.menus && item.value.menus.length > 0 && item.value.show == true" class="material-icons pointer">arrow_drop_down</i>
      </span>
            <a>
              <!--      <a [routerLink]="item.value.resourceUrl" [routerLinkActive]="'active'">-->
              <!--        <i class="material-icons pointer">{{item.iconId}}</i> -->
              <i class="material-icons pointer">{{item.value.iconMaterialDesign}}</i>
              {{getLabel(item.value)}}
            </a>
            <div class="counter" *ngIf="item.value.counter"><div class="number">{{item.value.counter}}</div></div>
          </div>
          <ul class="submenu" *ngIf="item.value.menus && item.value.menus.length > 0 && item.value.show == true">
            <li *ngFor="let submenu of item.value.menus">
              <div [routerLink]="submenu.applicationRoute " [routerLinkActive]="submenu.applicationRoute ? 'active' : ''">
                <a>
                  <!--            <i class="material-icons pointer">{{submenu.iconId}}</i> -->
                  <i class="material-icons pointer">{{submenu.iconMaterialDesign}}</i>
                  {{getLabel(submenu)}}
                </a>
                <div class="counter" *ngIf="submenu.counter"><div class="number">{{submenu.counter}}</div></div>
              </div>
            </li>
          </ul>
        </li>
      </ul>
      <div class="separator" *ngIf="!isLast"></div>
    </div>
  </div>
</div>
