<div class="sideMenu">
  <ul *ngIf="itemsMenu && itemsMenu.length > 0">
    <li *ngFor="let item of itemsMenu | keyvalue">
      <div>
      <span class="pointer">
        <i *ngIf="item.value.menus && item.value.menus.length > 0"  (click)="toggleMenu(item.key)" class="material-icons pointer">arrow_right</i>
      </span>
      <a routerLink="{{item.value.resourceUrl}}">
<!--        <i class="material-icons pointer">{{item.iconId}}</i> -->
        <i class="material-icons pointer">search</i>
        {{item.value.genericLabel}}
      </a>
      </div>
      <ul class="submenu" *ngIf="item.value.menus && item.value.menus.length > 0 && item.value.show == true">
        <li *ngFor="let submenu of item.value.menus">
          <div>
          <a routerLink="{{submenu.resourceUrl}}">
<!--            <i class="material-icons pointer">{{submenu.iconId}}</i> -->
            <i class="material-icons pointer">search</i>
            {{submenu.genericLabel}}
          </a>
          </div>
        </li>
      </ul>
    </li>
  </ul>
  <div class="separator"></div>
  <div class="title">Administration</div>
</div>
