@import 'src/styles/styles.scss';

.line {
  border-bottom: 1px solid #bbb;
  padding-right: 15px; // scrollbar width 15px;
  transition: background 100ms;

  &.header,
  &.footer {
    font-weight: bold;
  }

  &.node {
    background: #f5f5f5;
  }

  &:not(.header):not(.footer):not(.node):hover {
    background: #eee;
  }
}

.label {
  flex-basis: 30%;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item {
  margin: 0 10px;
  padding: 10px 0;
  flex: 1 0 10%;
  @include flexbox();
  justify-content: flex-end;
  text-align: right;
}

.expand-icon {
  transition: transform 250ms ease-in-out;

  &.expanded {
    transform: rotate(90deg);
  }
}
