<div class="p-40">
  <ng-container *ngIf="budget$ | async as budget">
    <form #selectForm="ngForm">
      <mat-form-field class="mr-20">
        <mat-label>Portfolio</mat-label>
        <mat-select name="portfolio" #portfolioSelect="ngModel" [ngModel]="budget.portfolioId"
          (ngModelChange)="assetSelect.reset()">
          <mat-option *ngFor="let portfolio of portfolioService.portfolios$ | async" [value]="portfolio.id">
            {{ portfolio.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="mr-20">
        <mat-label>Asset</mat-label>
        <mat-select name="asset" #assetSelect="ngModel" [ngModel]="budget.assetId"
          (ngModelChange)="selectForm.form.get('budget')?.reset();" [disabled]="!portfolioSelect.value">
          <mat-option
            *ngFor="let asset of assetService.assets$ | async | filterBy: 'portfolioId': portfolioSelect.value"
            [value]="asset.id">
            {{ asset.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field
        *ngIf="(budgetService.budgets$ | async | filterBy: 'portfolioId': portfolioSelect.value | filterBy: 'assetId': assetSelect.value || []) as budgets"
        class="mr-20">
        <mat-label>Budget</mat-label>
        <mat-select name="budget" [ngModel]="budget.id || assetSelect.value && !budgets.length && ''"
          [disabled]="!assetSelect.value || !budgets.length" (ngModelChange)="$event && goToBudget($event)">
          <ng-container *ngIf="budgets.length else noBudget">
            <mat-option *ngFor="let budget of budgets" [value]="budget.id">
              {{ budget.name }}
            </mat-option>
          </ng-container>
          <ng-template #noBudget>
            <mat-option value="">Aucun budget</mat-option>
          </ng-template>
        </mat-select>
      </mat-form-field>

      <ng-container *ngIf="portfolioSelect.value && assetSelect.value">
        <button *permissions="{roles: ['PM']}" type="button" mat-raised-button color="primary"
          (click)="dialog.open(createBudget)">Create</button>
      </ng-container>
    </form>

    <ng-template #createBudget let-dialogRef="dialogRef">
      <form (ngSubmit)="create(portfolioSelect.value, assetSelect.value, budgetName.value, dialogRef)">
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput type="text" name="budget" ngModel #budgetName="ngModel" required>
        </mat-form-field>
        <button type="submit" mat-raised-button color="primary">Create</button>
        <button type="button" mat-raised-button (click)="dialogRef.close()">Cancel</button>
      </form>
    </ng-template>

    <ng-container *ngIf="selectForm.form.get('budget')?.value">
      <ng-container *ngIf="currentVersion$ | async as currentVersion">
        <ng-container *ngIf="lastVersion$ | async as lastVersion">
          <span *ngFor="let version of budget.versions | orderBy: 'number'" class="mr-5">
            <a routerLink="./" [queryParams]="{version: version.number}" mat-raised-button
              [color]="currentVersion.number === version.number ? 'primary' : ''">
              {{ version.number }}
            </a>
          </span>
          <button
            *permissions="{roles: ['PM'], condition: lastVersion.state === budgetService.budgetVersionState.Rejected}"
            type="button" mat-raised-button (click)="createBudgetVersion(budget.id)"><i
              class="material-icons">add</i></button>

          <span *ngIf="currentVersion.state !== budgetService.budgetVersionState.Pending">
            This version was
            {{ currentVersion.state === budgetService.budgetVersionState.Submitted  ? 'submitted' : '' }}
            {{ currentVersion.state === budgetService.budgetVersionState.Accepted  ? 'accepted' : '' }}
            {{ currentVersion.state === budgetService.budgetVersionState.Rejected  ? 'rejected' : '' }}
            by
            {{ currentVersion.stateUserName }}
            on
            {{ currentVersion.stateDate | date: 'medium' }}
          </span>

          <ng-container *ngIf="accountingPlan$ | async as accountingPlan">
            <form #budgetForm="ngForm">
              <ng-template #nodeTmpl let-node="node" let-totalParent="totalParent" let-level="level">
                <ng-container *ngIf="node.children else leafTmpl" #accordionItem="cdkAccordionItem" cdkAccordionItem
                  expanded>
                  <div class="line flex pointer" (click)="accordionItem.toggle()" total [totalParent]="totalParent"
                    #total="total">
                    <div class="label flex align-center" [style.padding-left.px]="level*30">
                      <i class="material-icons expand-icon"
                        [ngClass]="{'expanded': accordionItem.expanded}">expand_less</i>
                      <span>{{ node.label }}</span>
                    </div>
                    <span class="item">{{ total.totalPreviousYear | number: '1.0-2' }}</span>
                    <span class="item">{{ total.totalCurrentYear | number: '1.0-2' }}</span>
                    <span class="item">{{ total.total | number: '1.0-2' }}</span>
                    <span class="item">
                      <!-- TODO: remove 'x' -->
                      {{ total.totalRoot.totalRevenue ? (total.total / total.totalRoot.totalRevenue | percent: '1.2-2') : 'x' }}
                    </span>
                    <span class="item">
                      <!-- TODO: remove 'x' -->
                      {{ total.totalRoot.totalOpex ? (total.total / total.totalRoot.totalOpex | percent: '1.2-2') : 'x' }}
                    </span>
                  </div>
                  <div [@expand]="accordionItem.expanded" style="overflow: hidden;">
                    <ng-container *ngFor="let node of node.children">
                      <ng-container
                        *ngTemplateOutlet="nodeTmpl; context: {node: node, totalParent: total, level: level + 1}">
                      </ng-container>
                    </ng-container>
                  </div>
                </ng-container>

                <ng-template #leafTmpl>
                  <ng-container *ngIf="node.subAccount ? node.account + '/' + node.subAccount : node.account as key">
                    <div total [value]="+currentVersion.accountingPlan[key] || 0" [totalParent]="totalParent"
                      [isRevenue]="!!node.accountIsRevenue" [isOpex]="!!node.accountIsOpex" #total="total"
                      [previousYear]="+(budget.previousYear | filterBy: 'account': node.blppAccountMapping)[0]?.amount || 0"
                      [currentYear]="+(budget.currentYear | filterBy: 'account': node.blppAccountMapping)[0]?.amount || 0"
                      class="line flex">
                      <span class="label" [style.padding-left.px]="level*30">
                        {{ node.subAccountDescription || node.accountDescription }}
                      </span>
                      <span class="item">{{ total.previousYear | number: '1.0-2' }}</span>
                      <span class="item">{{ total.currentYear | number: '1.0-2' }}</span>
                      <app-input-amount [(ngModel)]="total.value" [name]="key" [disabled]="[
                          {roles: ['PM'], condition: currentVersion.state !== budgetService.budgetVersionState.Pending},
                          {roles: ['AM', 'AO'], condition: currentVersion.state !== budgetService.budgetVersionState.Submitted || (node.accountIsPmVisible || false)}
                        ] | permissions" class="item"></app-input-amount>
                      <!-- TODO: remove 'x' -->
                      <span class="item">
                        {{ total.totalRoot.totalRevenue ? (total.total / total.totalRoot.totalRevenue | percent: '1.2-2') : 'x' }}
                      </span>
                      <!-- TODO: remove 'x' -->
                      <span class="item">
                        {{ total.totalRoot.totalOpex ? (total.total / total.totalRoot.totalOpex | percent: '1.2-2') : 'x' }}
                      </span>
                    </div>
                  </ng-container>
                </ng-template>
              </ng-template>

              <div class="line header flex">
                <div class="label">Category</div>
                <div class="item">Realised 2019</div>
                <div class="item">Year to date 2020</div>
                <div class="item">Budget 2021</div>
                <div class="item">% of Rental Income</div>
                <div class="item">% of Rental Expenses</div>
              </div>

              <div total #total="total" class="ov-auto mb-15" style="height: calc(100vh - 350px);">
                <ng-container *ngFor=" let node of accountingPlan">
                  <ng-container *ngTemplateOutlet="nodeTmpl; context: {node: node, totalParent: total, level: 0}">
                  </ng-container>
                </ng-container>
              </div>

              <div class="flex justify-end">
                <ng-container
                  *permissions="{roles: ['PM'], condition: currentVersion.state === budgetService.budgetVersionState.Pending}">
                  <div class="mr-5">
                    <button type="button" mat-raised-button (click)="save(currentVersion, budgetForm.value)">
                      Enregistrer
                    </button>
                  </div>
                  <div>
                    <button type="button" mat-raised-button color="primary"
                      (click)="submit(currentVersion, budgetForm.value)">
                      Soumettre
                    </button>
                  </div>
                </ng-container>
                <ng-container
                  *permissions="{roles: ['AM', 'AO'], condition: currentVersion.state === budgetService.budgetVersionState.Submitted}">
                  <div class="mr-5">
                    <button type="button" mat-raised-button (click)="save(currentVersion, budgetForm.value)">
                      Enregistrer
                    </button>
                  </div>
                  <div class="mr-5">
                    <button type="button" mat-raised-button color="primary"
                      (click)="accept(currentVersion, budgetForm.value)">
                      Accepter
                    </button>
                  </div>
                  <div>
                    <button type="button" mat-raised-button color="warn"
                      (click)="reject(currentVersion, budgetForm.value)">
                      Rejeter
                    </button>
                  </div>
                </ng-container>
              </div>
            </form>
          </ng-container>
        </ng-container>
      </ng-container>
    </ng-container>
  </ng-container>
</div>