<mat-card *ngIf="budget$ | async as budget">
  <form #selectForm="ngForm">
    <mat-form-field class="mr-20">
      <mat-label>{{tl.translate('ST.WORD.PORTFOLIO','capitalize')}}</mat-label>
      <mat-select name="portfolio" #portfolioSelect="ngModel" [ngModel]="budget.portfolioId"
        (ngModelChange)="assetSelect.reset()">
        <mat-option *ngFor="let portfolio of ((portfolioService.portfolios$ | async) || [])" [value]="portfolio.id">
          {{ portfolio.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="mr-20">
      <mat-label>{{tl.translate('ST.WORD.ASSET','capitalize')}}</mat-label>
      <mat-select name="asset" #assetSelect="ngModel" [ngModel]="budget.assetId"
        (ngModelChange)="selectForm.form.get('budget')?.reset();" [disabled]="!portfolioSelect.value">
        <mat-option
          *ngFor="let asset of ((assetService.assets$ | async) || []) | filterBy: 'portfolioId': portfolioSelect.value"
          [value]="asset.id">
          {{ asset.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field
      *ngIf="((budgetService.budgets$ | async) || []) | filterBy: 'portfolioId': portfolioSelect.value | filterBy: 'assetId': assetSelect.value as budgets"
      class="mr-20">
      <mat-label>
        {{tl.translate('ST.WORD.BY','capitalize')}}
      </mat-label>
      <mat-select name="budget" [ngModel]="budget.id || assetSelect.value && !budgets.length && ''"
        [disabled]="!assetSelect.value || !budgets.length" (ngModelChange)="$event && goToBudget($event)">
        <ng-container *ngIf="budgets.length else noBudget">
          <mat-option *ngFor="let budget of budgets" [value]="budget.id">
            {{ budget.name }}
          </mat-option>
        </ng-container>
        <ng-template #noBudget>
          <mat-option value="">{{tl.translate('ST.SENTENCE.NO_BUDGET','capitalize')}}</mat-option>
        </ng-template>
      </mat-select>
    </mat-form-field>

    <ng-container *ngIf="portfolioSelect.value && assetSelect.value">
      <button *permissions="{roles: ['PM']}" type="button" mat-raised-button color="primary"
        (click)="dialog.open(createBudget)">{{tl.translate('ST.BUTTON.CREATE')}}</button>
    </ng-container>
  </form>

  <ng-template #createBudget let-dialogRef="dialogRef">
    <form #createForm="ngForm"
      (ngSubmit)="create(portfolioSelect.value, assetSelect.value, budgetName.value, dialogRef)">
      <mat-form-field>
        <mat-label>{{tl.translate('ST.WORD.NAME','capitalize')}}</mat-label>
        <input matInput type="text" name="budget" ngModel #budgetName="ngModel"
          (input)="budgetName.control.setValue($event.target.value.trimStart())" required>
      </mat-form-field>
      <button type="submit" mat-raised-button color="primary" [disabled]="createForm.invalid">{{tl.translate('ST.BUTTON.CREATE')}}</button>
      <button type="button" mat-raised-button (click)="dialogRef.close()">{{tl.translate('ST.BUTTON.CANCEL')}}</button>
    </form>
  </ng-template>

  <ng-container *ngIf="selectForm.form.get('budget')?.value">
    <ng-container *ngIf="accountingPlan$ | async as accountingPlan">
      <ng-container *ngIf="currentVersion$ | async as currentVersion">
        <ng-container *ngIf="lastVersion$ | async as lastVersion">
          <span *ngFor="let version of budget.versions | orderBy: 'number'" class="mr-5">
            <a mat-raised-button routerLink="./" [queryParams]="{version: version.number}"
              (click)="currentVersion === lastVersion && updateCurrentVersion(currentVersion.accountingPlan, budgetForm.value)"
              [color]="currentVersion.number === version.number ? 'primary' : ''">
              {{ version.number }}
            </a>
          </span>
          <button *permissions="[
              {roles: ['PM'], condition: lastVersion.state === budgetService.budgetVersionState.Rejected},
              {roles: ['AM', 'AO'], condition: lastVersion.state === budgetService.budgetVersionState.Submitted}
            ]" type="button" mat-raised-button (click)="createBudgetVersion(budget.id)">
            <i class="material-icons">add</i>
          </button>
          <button *permissions="[
              {roles: ['PM'], condition: lastVersion.state === budgetService.budgetVersionState.Accepted},
              {roles: ['AM', 'AO'], condition: lastVersion.state === budgetService.budgetVersionState.Submitted}
            ]" type="button" mat-raised-button (click)="createBudgetRevision(budget.id)">
            <span>{{tl.translate('ST.BUTTON.REVIEW')}}</span>
          </button>

          <span *ngIf="currentVersion.state !== budgetService.budgetVersionState.Pending">
            {{tl.translate('ST.SENTENCE.VERSION')}}
            {{ currentVersion.state === budgetService.budgetVersionState.Submitted  ? 'submitted' : '' }}
            {{ currentVersion.state === budgetService.budgetVersionState.Accepted  ? 'accepted' : '' }}
            {{ currentVersion.state === budgetService.budgetVersionState.Rejected  ? 'rejected' : '' }}
            {{tl.translate('ST.WORD.BY')}}
            {{ currentVersion.stateUserName }}
            {{tl.translate('ST.WORD.ON')}}
            {{ currentVersion.stateDate | date: 'medium' }}
          </span>

          <form #budgetForm="ngForm">
            <ng-template #nodeTmpl let-node="node" let-totalParent="totalParent" let-level="level">
              <ng-container *ngIf="node.children else leafTmpl" #accordionItem="cdkAccordionItem" cdkAccordionItem
                expanded>
                <div class="node line flex pointer" (click)="accordionItem.toggle()" total [totalParent]="totalParent"
                  #total="total">
                  <span class="label flex align-center ov-hidden" [style.padding-left.px]="level*20">
                    <i class="material-icons expand-icon"
                      [ngClass]="{'expanded': accordionItem.expanded}">navigate_next</i>
                    <span #elmt [matTooltip]="node.label" matTooltipPosition="above"
                      [matTooltipDisabled]="elmt.scrollWidth <= elmt.offsetWidth" class="truncate">
                      {{ node.label }}
                    </span>
                  </span>
                  <ng-container *ngIf="!(revisionMode$ | async)">
                    <span class="item">{{ total.totalPreviousYear | amount }}</span>
                    <span class="item">{{ total.totalCurrentYear | amount }}</span>
                    <span class="item">{{ total.total | amount }}</span>
                  </ng-container>
                  <ng-container *ngIf="revisionMode$ | async">
                    <!-- TODO display currentYear and nextYear -->
                    <span class="item">{{ total.totalPreviousYear | amount }}</span>
                    <span class="item">{{ total.totalCurrentYear | amount }}</span>
                    <span class="item">{{ total.total | amount }}</span>
                    <span class="item">{{ total.totalRevision | amount }}</span>
                    <span class="item">{{ total.total + total.totalRevision | amount }}</span>
                  </ng-container>
                  <span class="item">
                    {{ total.totalRoot.totalRevenue ? (total.total / total.totalRoot.totalRevenue | percent: '1.2-2') : 'x' }}
                  </span>
                  <span class="item">
                    {{ total.totalRoot.totalOpex ? (total.total / total.totalRoot.totalOpex | percent: '1.2-2') : 'x' }}
                  </span>
                  <span class="item comment"></span>
                </div>
                <div [@expand]="accordionItem.expanded" style="overflow: hidden;">
                  <ng-container *ngFor="let node of node.children; trackBy: trackByFn">
                    <ng-container
                      *ngTemplateOutlet="nodeTmpl; context: {node: node, totalParent: total, level: level + 1}">
                    </ng-container>
                  </ng-container>
                </div>
              </ng-container>

              <ng-template #leafTmpl>
                <ng-container *ngIf="node.subAccount ? node.account + '/' + node.subAccount : node.account as key">
                  <div [ngModelGroup]="key" total #total="total"
                    [value]="+currentVersion.accountingPlan[key]?.value || 0"
                    [revision]="+currentVersion.accountingPlan[key]?.revision || 0" [totalParent]="totalParent"
                    [isRevenue]="!!node.accountIsRevenue" [isOpex]="!!node.accountIsOpex"
                    [previousYear]="+(budget.previousYear | filterBy: 'account': node.blppAccountMapping)[0]?.amount || 0"
                    [currentYear]="+(budget.currentYear | filterBy: 'account': node.blppAccountMapping)[0]?.amount || 0"
                    class="line flex">
                    <span #elmt [matTooltip]="node.subAccountDescription || node.accountDescription"
                      matTooltipPosition="above" [matTooltipDisabled]="elmt.scrollWidth <= elmt.offsetWidth"
                      class="label truncate" [style.padding-left.px]="level*30">
                      {{ node.subAccountDescription || node.accountDescription }}
                    </span>
                    <ng-container *ngIf="!(revisionMode$ | async)">
                      <span class="item">{{ total.previousYear | amount }}</span>
                      <span class="item">{{ total.currentYear | amount }}</span>
                      <span class="item">
                        <app-input-amount [(ngModel)]="total.value" name="value"
                          [disabled]="currentVersion.state !== budgetService.budgetVersionState.Pending || ({roles: ['AM', 'AO'], condition: node.accountIsPmVisible || false} | permissions)">
                        </app-input-amount>
                      </span>
                    </ng-container>
                    <ng-container *ngIf="revisionMode$ | async">
                      <!-- TODO display currentYear and nextYear -->
                      <span class="item">{{ total.previousYear | amount }}</span>
                      <span class="item">{{ total.currentYear | amount }}</span>
                      <span class="item">{{ total.value | amount }}</span>
                      <span class="item">
                        <app-input-amount [(ngModel)]="total.revision" name="revision"
                          [disabled]="currentVersion.state !== budgetService.budgetVersionState.Pending || ({roles: ['AM', 'AO'], condition: node.accountIsPmVisible || false} | permissions)">
                        </app-input-amount>
                      </span>
                      <span class="item">{{ total.value + total.revision | amount }}</span>
                    </ng-container>
                    <span class="item">
                      {{ total.totalRoot.totalRevenue ? (total.total / total.totalRoot.totalRevenue | percent: '1.2-2') : 'x' }}
                    </span>
                    <span class="item">
                      {{ total.totalRoot.totalOpex ? (total.total / total.totalRoot.totalOpex | percent: '1.2-2') : 'x' }}
                    </span>
                    <span class="item comment">
                      <input type="text" [ngModel]="currentVersion.accountingPlan[key]?.comment" name="comment"
                        class="no-border"
                        [disabled]="currentVersion.state !== budgetService.budgetVersionState.Pending">
                    </span>
                  </div>
                </ng-container>
              </ng-template>
            </ng-template>

            <div class="line header flex pr-15">
              <div class="label">{{tl.translate('ST.BUDGET.HEADER.CATEGORY')}}</div>
              <ng-container *ngIf="!(revisionMode$ | async)">
                <div class="item">{{tl.translate('ST.BUDGET.HEADER.REALISEDPAST')}}</div>
                <div class="item">{{tl.translate('ST.BUDGET.HEADER.YEAR_DATE')}}</div>
                <div class="item">{{tl.translate('ST.BUDGET.HEADER.BUDGETN1')}}</div>
              </ng-container>
              <ng-container *ngIf="revisionMode$ | async">
                <div class="item">{{tl.translate('ST.BUDGET.HEADER.REALISEDN')}}</div>
                <div class="item">{{tl.translate('ST.BUDGET.HEADER.YEAR_DATE_N1')}}</div>
                <div class="item">{{tl.translate('ST.BUDGET.HEADER.BUDGETN1')}}</div>
                <div class="item">{{tl.translate('ST.BUDGET.HEADER.ADJUSTMENT')}}</div>
                <div class="item">{{tl.translate('ST.BUDGET.HEADER.REVISED')}}</div>
              </ng-container>
              <div class="item">{{tl.translate('ST.BUDGET.HEADER.RENTALINCOME')}}</div>
              <div class="item">{{tl.translate('ST.BUDGET.HEADER.RENTALEXPENSES')}}</div>
              <div class="item comment">{{tl.translate('ST.BUDGET.HEADER.COMMMENT')}}</div>
            </div>

            <div total #total="total" class="ov-overlay mb-15" style="max-height: calc(100vh - 430px);">
              <ng-container *ngFor=" let node of accountingPlan; trackBy: trackByFn">
                <ng-container *ngTemplateOutlet="nodeTmpl; context: {node: node, totalParent: total, level: 0}">
                </ng-container>
              </ng-container>
            </div>

            <div class="flex align-center">
              <mat-form-field class="fill mr-20">
                <mat-label>{{tl.translate('ST.WORD.COMMENT')}}</mat-label>
                <textarea matInput mat-autosize [ngModel]="currentVersion.accountingPlan?.comment" name="comment"
                  [disabled]="currentVersion.state !== budgetService.budgetVersionState.Pending"
                  style="overflow: hidden;"></textarea>
              </mat-form-field>
              <ng-container *ngIf="currentVersion.state === budgetService.budgetVersionState.Pending">
                <div class="mr-5">
                  <button type="button" mat-raised-button (click)="save(currentVersion.id, budgetForm.value)">
                    {{tl.translate('ST.BUTTON.SAVE_DRAFT')}}
                  </button>
                </div>
                <ng-container *permissions="{roles: ['PM']}">
                  <div>
                    <button type="button" mat-raised-button color="primary"
                      (click)="submit(currentVersion.id, budgetForm.value)">
                      {{tl.translate('ST.BUTTON.SUBMIT')}}
                    </button>
                  </div>
                </ng-container>
                <ng-container *permissions="{roles: ['AM', 'AO']}">
                  <div class="mr-5">
                    <button type="button" mat-raised-button color="primary"
                      (click)="accept(currentVersion.id, budgetForm.value)">
                      {{tl.translate('ST.BUTTON.ACCEPT')}}
                    </button>
                  </div>
                  <div>
                    <button type="button" mat-raised-button color="warn"
                      (click)="reject(currentVersion.id, budgetForm.value)">
                      {{tl.translate('ST.BUTTON.REJECT')}}
                    </button>
                  </div>
                </ng-container>
              </ng-container>
            </div>
          </form>
        </ng-container>
      </ng-container>
    </ng-container>
  </ng-container>
</mat-card>
