
.line {
  border-bottom: 1px solid #bbb;
  padding: 10px 0;
  padding-right: 15px; // scrollbar width 15px;
  transition: background 100ms;

  &.node {
    background: #f5f5f5;
  }
  
  &:not(.header):not(.node):hover {
    background: #eee;
  }
}

.label { 
  flex-basis: 30%; 
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item { 
  margin: 0 10px;
  flex: 1 0 10%;
  display: flex;
  justify-content: flex-end;

  &.comment {
    flex-basis: 20%;
    justify-content: flex-start;
  }

  > * {
    width: 100%;
  }
}

.expand-icon {
  transition: transform 250ms ease-in-out;
  
  &.expanded {
    transform: rotate(90deg);
  }
}