<div class="goBack">
  <a href="/administration/manage-actors">
    <i class="material-icons">arrow_back</i>
  </a>
</div>
<!--<h1 class="txt-center">{{tl.translate('ST.ADMIN.TITLE.MANAGE_FUNC')}} {{actor ? actor.actor : ''}} </h1>-->
<div class="main-panel" style="height:85%;">
  <h2 class="txt-center">{{tl.translate('ST.ADMIN.TITLE.MANAGE_FUNC')}}  {{actor ? actor.actor : ''}} </h2>
  <div class="splited-view-wrapper">
    <div class="splited-view">
      <div>
        <h2 class="txt-center">{{tl.translate('ST.WORD.FUNCTIONALITIES','capitalize')}}</h2>
        <div *ngIf="functionalities  | async">
          <mat-selection-list #jFunctionalities [(ngModel)]="selectedFunctionalities">
            <mat-list-option *ngFor="let jFunctionality of functionalities  | async; index as i" [value]="jFunctionality" >
              {{jFunctionality.code}} - {{jFunctionality.description}}
            </mat-list-option>
          </mat-selection-list>
        </div>
      </div>
    </div>
    <div class="btn-splitted">
        <mat-icon (click)="addFunctionalities()" [ngClass]="!selectedFunctionalities.length ? 'disabled' : ''"  [matTooltip]="tl.translate('ST.ADMIN.TOOLTIPS.ADD_FUNCT')">chevron_right</mat-icon>

        <mat-icon (click)="removeFunctionalities()" [ngClass]="!selectedActorFunctionalities.length ? 'disabled' : ''" [matTooltip]="tl.translate('ST.ADMIN.TOOLTIPS.REMOVE_FUNCT')" >chevron_left</mat-icon>
<!--      <button mat-icon-button [disabled]="!selectedFunctionalities.length" [matTooltip]="tl.translate('ST.ADMIN.TOOLTIPS.ADD_FUNCT')">-->
<!--        <mat-icon (click)="addFunctionalities()" >chevron_right</mat-icon>-->
<!--      </button>-->
<!--      <button mat-icon-button [disabled]="!selectedActorFunctionalities.length" [matTooltip]="tl.translate('ST.ADMIN.TOOLTIPS.REMOVE_FUNCT')">-->
<!--        <mat-icon (click)="removeFunctionalities()" >chevron_left</mat-icon>-->
<!--      </button>-->
    </div>
    <div class="splited-view">
      <div>
        <h2 class="txt-center">{{tl.translate('ST.ADMIN.TITLE.ACTOR_FUNCTIONALITIES')}}</h2>
        <div *ngIf="actorFunctionalities  | async">
          <mat-selection-list #aFunctionalities [(ngModel)]="selectedActorFunctionalities">
            <mat-list-option *ngFor="let aFunctionality of actorFunctionalities  | async; index as i"  [value]="aFunctionality">
              {{aFunctionality.code}} - {{aFunctionality.description}}
            </mat-list-option>
          </mat-selection-list>
          <!--        <p *ngIf="jsonActorFunctionalities.length > 0">-->
          <!--          Functionalities selected: {{aFunctionalities.selectedOptions.selected.length}}-->
          <!--        </p>-->
        </div>
      </div>
    </div>
  </div>
</div>
