@import 'src/styles/styles.scss';

@font-face { font-family: overpass-semibold;
  src: url('../../assets/font/Overpass/Overpass-SemiBold.ttf')
}
@font-face { font-family: lato-regular;
  src: url('../../assets/font/Lato/Lato-Regular.ttf')
}


.select-lg-wrapper{
  @include flexbox();
  @include align-items(center);
  .lang-dot{
    mat-icon{
      font-size: 14px;
      line-height:24px;
    }
  }
}
.actionBtn{
  margin: 0 5px;
}
.lang-title{
  //text-align: center;
  //text-transform: uppercase;
  font-family: lato-regular, sans-serif;
  font-weight: 700;
  font-size: 22px;
  @include flexbox();
  @include justify-content(center);
  @include align-items(center);
  margin-bottom: 10px;

  .lang-dot{
    mat-icon{
      font-size: 14px;
      line-height:24px;
    }
  }

}
.lang-menu{
  margin-top:20px;
  margin-left:10px;
  text-align: right;
  @include flexbox();
  @include justify-content(center);
  @include align-items(center);
}
.entry-menu{
  margin-top:20px;
  margin-left:10px;
  text-align: right;
  button{
    margin-left:20px;
    margin-bottom:20px;
  }
}
.red-color{
  color:red;
}
.green-color{
  color:green;
}
.icon-dot{
  margin-right:5px;
}
.small-column{
  width:40px;
}
.mat-column-position {
  flex: 0 0 3%;
}
.mat-column-ui_id {
  flex: 0 0 26%;
}
.mat-column-state-entry  {
  flex: 0 0 3%;
}
.mat-column-description {
  overflow-x:auto;
}
.mat-column-action  {
  flex: 0 0 10%;
  div {
    @include flexbox();
  }
}
.mat-column-state {
  flex: 0 0 4%;
  justify-content: center;
  span{
    cursor: pointer;
  }
}

//.mat-table, .mat-paginator{
//  width: 90%;
//  margin:auto;
//}

.mat-column-position{
  flex: 0 0 4%;
}
mat-cell{
  padding: 5px;
}

.mat-column-lg-edition button{
  margin-right: 15px;
}

.search-header{
  margin-top: 15px;
  @include flexbox();
  @include justify-content(space-between);
  @include justify-content(baseline);
}

.mat-form-field{
  margin-right: 10px;
}
//
//.search-header{
//  width: 90%;
//  margin:auto;
//  text-align: end;
//}
